.headerUP {
  background-color: var(--header-bg);
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

header img {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}

.header-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
}
