.nav-links {
  display: none; /* Başlangıçta gizle */
}
@media (min-width: 769px) {
  .nav-links {
    display: flex;
    gap: 1rem;
  }

  .menu-toggle {
    display: none;
  }
}
@media (max-width: 768px) {
  .headerUP {
    flex-direction: column;
    text-align: center;
  }

  .headerUP img {
    margin-bottom: 1rem;
  }

  .container {
    padding: 1rem;
    position: relative;
  }

  h1 {
    font-size: 1.5rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #007acc;
    padding: 1rem;
    position: absolute;
    top: 100px;
    right: 1rem;
    border-radius: 8px;
    z-index: 1000;
  }

  .nav-links.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}


