:root {
  --bg-color: #f9f9f9;
  --text-color: #333;
  --header-bg: #5f7b8f;
  --header-text: #fff;
  --link-color: #007acc;
}
body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.headerUP {
  background-color: var(--header-bg);
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}


header img {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}

.header-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
}


.about {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  flex: 1;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.800);
}

.columns {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.800);
  margin-top: 1rem;
}

.column {
  width: 45%;
}

a {
  color: #007acc;
  text-decoration: none;
}






#themeToggle {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 12px;
  background: rgb(37, 37, 37);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
body.dark-mode #themeToggle {
  background-color: white;
  color: rgb(37, 37, 37);
}

.dark-mode {
  --bg-color: rgb(37, 37, 37);
  --text-color: rgb(37, 37, 37);
  --header-bg: rgb(37, 37, 37);
  --header-text: #fff;
  --link-color: #90caf9;
}




